@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@theme {
    --color-primary: #ffed4a;
    --color-secondary: #ffed4a;
    --color-background: #f3f3f3;

}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 200 1000;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    display: none !important;
}

.swiper-button-next {
    @apply bg-white p-5 rounded-full z-50 shadow-md
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 16px !important;
}

.swiperbook {
    transition: scale 0.3s ease-in-out;
}

.home__image {
    display: grid;
}

.home__article,
.home__artical img {

    scale: .8;
    transition: scale .4s;
}

.home__article {
    gap: 1px;
}

.swiper-slide-active .home__article,
.swiper-slide-active .home__artical img {
    scale: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-primary {
    background-color: #ffed4a;
    /*@apply blackBG px-12 py-2 rounded-md text-base font-secondary font-bold hover:bg-secondary hover:text-white transition-all duration-200 cursor-pointer*/

}

.html {
    scroll-behavior: smooth;
}